{% extends 'base.html' %}

{% block title %}Product{% endblock %}

{% block main %}
    <section id="product">
        <div class="container-fluid section">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
                        <li class="breadcrumb-item">
                            {% if product.type == 1 %}
                            <a href="{{ url_for('show_products', type_id=product.type) }}">Stickers</a>
                            {% else %}
                            <a href="{{ url_for('show_products', type_id=product.type) }}">Posters</a>
                            {% endif %}
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                    </ol>
                </nav>
            </div>

            {% if current_user.is_authenticated and current_user.id == 1 %}
            <div>
                <a class="btn submit edit" href="{{ url_for('delete_product', item_id=product.id) }}">Delete</a>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <img class="product-img" src="{{ url_for('static', filename=product.image) }}">
                </div>
                <div class="col-lg-6 col-md-6 format-text">
                    <div class="product-title">
                        <h2>{{ product.name }}</h2>
                        <h4>${{ product.price }}</h4>
                    </div>
                    <div class="product-form">
                        {% if is_update %}
                        <form action="{{ url_for('update_item', item_id=product.id, user_id=user_id, cart_id=cart_id) }}" method="post">
                        {% else %}
                        <form action="{{ url_for('get_product', item_id=product.id, user_id=user_id) }}" method="post">
                        {% endif %}
                            {{ form.csrf_token }}
                            {{ form.quantity(class_='form-control') }}
                            {{ form.add(class_='btn submit w-100') }}
                        </form>
                    </div>
                    <div class="product-description">
                        <p>{{ product.description|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
